<section>
    <article>
        <h2 class="h2">Contact CodingByChad</h2>
        <p>Who doesn't love feedback? Send us your comments and questions. We'll (eventually) answer your message. Probably.</p>
    </article>
    <article>
        <form [formGroup]="contactForm" (ngSubmit)="SendMessage()">
            <div class="form-group">
              <label for="from">Email address</label>
              <input type="email" class="form-control" id="from" formControlName="from" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" formControlName="subject">
            </div>
            <div class="form-group">
                <label for="subject">Message</label>
                <textarea class="form-control" id="subject" formControlName="subject" rows="3"></textarea>
            </div>
          <button type="submit" class="btn btn-primary rounded">Submit</button>
          </form>
    </article>
</section>
