.footer-container {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 24px;
  background-color: var(--belize-hole);
  border-radius: 8px;
  text-decoration: none;
}

.footer-container > * {
  flex: 1 auto;
}

.footer-item p a {
  text-decoration: none;
}
