<section class="row">
    <article class="lead col">
        <h3>Coding by Chad &copy; {{ copyright }}</h3>
    </article>
    <article class="col">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item no-border">
                <a href="https://www.linkedin.com/in/chadesmith/" target="_blank">LinkedIn</a></li>
            <li class="list-group-item no-border">Twitter</li>
            <li class="list-group-item no-border">GitHub</li>
            <li class="list-group-item no-border">StackBlitz</li>
          </ul>
    </article>
</section>
