<section class="row">
    <article class="lead col-lg-6">
        <h3>Coding by Chad &copy;{{ copyright }}</h3>
    </article>
    <article class="col-lg-6">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item no-border col-lg-3">
                <a href="https://www.linkedin.com/in/chadesmith/" target="_blank">LinkedIn</a>
            </li>
            <li class="list-group-item no-border col-lg-3">
                <a href="https://twitter.com/codingbychad" target="_blank">Twitter</a>
            </li>
            <li class="list-group-item no-border col-lg-3">
                <a href="https://github.com/ChadESmith42" target="_blank">GitHub</a>
            </li>
            <li class="list-group-item no-border col-lg-3">
                <a href="https://stackoverflow.com/users/9768198/chadesmith42?tab=profile" target="_blank">Stack Overflow</a>
            </li>
          </ul>
    </article>
</section>
