.footer-container {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 24px;
  color: var(--clouds);
  background-color: var(--wisteria);
  border-radius: 8px;
  text-decoration: none;
  font-family: 'VT323', monospace;
  font-weight: 200;
  font-size: 30px;
}

.footer-container > * {
  flex: 1 auto;
}

.footer-item p a {
  text-decoration: none;
}

.footer-container h3 {
  font-family: 'VT323', monospace;
  font-weight: 200;
  font-size: 30px;
}
