.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--clouds);
  background-color: var(--midnight-blue);
  padding: 12px 24px 8px 24px;
  border-radius: 8px;
  height: 64px;
}

.nav-links {
  box-sizing: border-box;
  padding: 8px 32px 12px 32px;
  margin: 0 16px;
}

.nav-link-item {
  margin: 8px 16px 8px 16px;
  padding: 0 24px 0 24px;
  font-weight: 300;
  font-size: 24px;
}

.brand {
  color: var(--clouds);
  font-weight: 300;
  font-size: 32px;
}

.active-link {
  background-color: var(--pomegranate);
  color: var(--clouds);
  border-bottom: solid 4px var(--clouds);
  border-radius: 8px;
}

.active-link:hover, .active-link:focus {
  text-decoration: underline solid var(--clouds);
}
