<div class="container">
  <section class="jumbotron">
    <article class="item">
      <h2 class="primary-text">Projects</h2>
      <p class="accent-text">
        I have coded each of these projects. Most of these are viewable on my StackBlitz or GitHub repositories. Unless otherwise noted, the work is entirely my own.
      </p>
      <p class="warn-text">
        Please note that all links open in a new tab.
      </p>
    </article>
  </section>

  <section class="container item projects">
    <article class="project-cards" *ngFor="let project of projects; index as i">
      <div class="card">
        <img src="{{project.imgPath}}" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text" *ngFor="let p of project.description">{{ p }}</p>
        </div>
        <div class="card-footer">
          <a href="{{project.link}}" target="_blank" class="btn btn-primary">View Site</a>
        </div>
        </div>
    </article>
  </section>
</div>
