.card {
  background-color: var(--pomegranate);
  padding: 4px;
  margin: 12px 16px;
  border: solid 2px var(--midnight-blue);
  border-radius: 8px;
  max-width: 440px;
  /* min-height: 448px; */
}

.card-body {
  margin: 8px 12px;
  padding: 4px 16px 8px 16px;
  border-radius: 8px;
  min-height: 448;
  background-color: var(--clouds);
  color: var(--midnight-blue);
}

.card-header {
  background-color: var(--midnight-blue);
  color: var(--clouds);
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  margin: -4px -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.card-location {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.card-date-range {
  font-size: 18px;
}

.achievements-title {
  font-weight: 600;
  text-decoration: underline solid var(--pomegranate);
  margin-bottom: 4px;
}

.achievements {
  margin-top: 0;
}

section.education section.card div.card-body {
  box-sizing: content-box;
  min-height: 496px;
}

section.work section.card div.card-body {
  box-sizing: content-box;
}
