.resume-container {
  margin: 24px 12px 12px 0;
  padding-left: 26px;
  height: 100%;
}

section {
  height: 100%;
}

section h3 {
  border-bottom: 0.25rem var(--midnight-blue) solid;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
}
