<h2>Resume</h2>

<section class="skills">
  <h3>Skills</h3>
  <app-card-container [cards]="skills"></app-card-container>
</section>

<section class="education">
  <h3>Education</h3>
  <app-card-container [cards]="education"></app-card-container>
</section>

<section class="work">
  <h3>Work</h3>
  <app-card-container [cards]="work"></app-card-container>
</section>

<section class="organizations">
  <h3>Organizations</h3>
  <app-card-container [cards]="organizations"></app-card-container>
</section>
