.container {
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: 20rem;
  height: 136px;
  margin: 16px auto;
  padding: 0 12px 0 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--pomegranate);
  color: var(--clouds);
  justify-self: flex-start;
}

article.item div a,
article.item div a:hover,
article.item div a:visited
article.item div a:focus {
  color: var(--clouds);
  text-decoration: none;
  cursor: pointer;
}


.item span {
  font-family: 'VT323', monospace;
  font-size: 28px;
  font-weight: 200;
  color: var(--clouds);
  text-decoration: none;
}

.icon {
  float: right;
  height: 32px;
  width: 32px;
  background-color: var(--clouds);
  padding: 2px;
  border-radius: 8px;
}

.container.code .item {
  margin: 1rem;
}

.section-title {
  display: block;
  width: 100vw;
  margin: 1rem auto;
  padding: 0 0 0 1.5rem;
}

@media only screen and (max-width: 600px ) {
  .item, section.container.code article.item {
    margin: 16px auto;
  }
}
