
<section class="container social">
  <article class="item">
    <div>
      <a id="LinkedIn" href="https://www.linkedin.com/in/chadesmith/" target="_blank">
        <h3>LinkedIn</h3>
        <img class="icon" src="../../../assets/icons/linkedin_icon.svg">
        <p>Username: <span>ChadESmith</span></p>
      </a>
    </div>
  </article>
  <article class="item">
    <div>
      <a href="https://www.twitter.com/mapgeek_chad" target="_blank">
        <h3>Twitter</h3>
        <img class="icon" src="../../../assets/icons/twitter_icon.svg">
        <p>Username: <span>MapGeek_Chad</span></p>
      </a>
    </div>
  </article>
  <article class="item">
    <div>
      <a href="https://stackoverflow.com/users/9768198/chadesmith42?tab=profile" target="_blank">
        <h3>StackOverflow</h3>
        <img class="icon" src="../../../assets/icons/stackoverflow_icon.svg">
        <p>Username: <span>ChadESmith42</span></p>
      </a>
    </div>
  </article>
  <article class="item">
    <div>
      <a href="https://dev.to/chadesmith42" target="_blank">
        <h3>Dev.to</h3>
        <img class="icon" src="../../../assets/icons/devto_icon.svg">
        <p>Username: <span>ChadESmith42</span></p>
      </a>
    </div>
  </article>
  <article class="item">
    <div>
      <a href="https://app.pluralsight.com/profile/ChadESmith42" target="_blank">
        <h3>Pluralsight</h3>
        <p>Username: <span>ChadESmith42</span></p>
      </a>
    </div>
  </article>
</section>
<section class="container code">
  <h2 class="section-title">See my code</h2>
  <article class="item">
    <div>
      <a href="https://github.com/ChadESmith42" target="_blank">
        <h3>GitHub</h3>
        <img class="icon" src="../../../assets/icons/github_icon.svg">
        <p>Username: <span>ChadESmith42</span></p>
      </a>
    </div>
  </article>
  <article class="item">
    <div>
      <a href="https://stackblitz.com/@ChadESmith42" target="_blank">
        <h3>Stackblitz</h3>
        <p>Username: <span>ChadESmith42</span></p>
      </a>
    </div>
  </article>
</section>
