
<section class="container social">
  <article class="item">
    <div>
      <h3>LinkedIn</h3>
      <img class="icon" src="../../../assets/icons/linkedin_icon.svg">
      <p>Username: <a href="https://www.linkedin.com/in/chadesmith/" target="_blank">ChadESmith</a></p>
    </div>
  </article>
  <article class="item">
    <div>
      <h3>Twitter</h3>
      <img class="icon" src="../../../assets/icons/twitter_icon.svg">
      <p>Username: <a href="https://www.twitter.com/mapgeek_chad" target="_blank">MapGeek_Chad</a></p>
    </div>
  </article>
  <article class="item">
    <div>
      <h3>StackOverflow</h3>
      <img class="icon" src="../../../assets/icons/stackoverflow_icon.svg">
      <p>Username: <a href="https://stackoverflow.com/users/9768198/chadesmith42?tab=profile" target="_blank">ChadESmith42</a></p>
    </div>
  </article>
  <article class="item">
    <div>
      <h3>Dev.to</h3>
      <img class="icon" src="../../../assets/icons/devto_icon.svg">
      <p>Username: <a href="https://dev.to/chadesmith42" target="_blank">ChadESmith42</a></p>
    </div>
  </article>
</section>
<section class="container code">
  <article class="item">
    <div>
      <h3>GitHub</h3>
      <img class="icon" src="../../../assets/icons/github_icon.svg">
      <p>Username: <a href="https://github.com/ChadESmith42" target="_blank">ChadESmith42</a></p>
    </div>
  </article>
  <article class="item">
    <div>
      <h3>Stackblitz</h3>
      <p>Username: <a href="https://stackblitz.com/@ChadESmith42" target="_blank">ChadESmith42</a></p>
    </div>
  </article>
</section>
