.card-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  gap: 1rem;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.card {
  flex: 1 24rem auto;
}

.filler {
  flex: 1 0 auto;
}
